
            body {
               background-color: #9370DB;
                  }
#nav-table { width: 1024px;}

h1{
color:white;            
background-color:purple;
}

#pics-table {
width: 500px;
length:300px;            
  
}

